<%- include('header'); -%>
<div class="content">
  <h1 id="welcome">pls dont contact us</h1>
  <p> Name: moodyteen </p>
  <p> Address: <address> 31 Heriot Watt Street </address> </p>
  <p> Phone: <a href="tel:0742047301">0742047301</a></p>
  <p> Email: <a href="mailto:webstore@hw.com">webstore@hw.com</a> </p>
  
</div>
<%- include('footer'); -%>